CONFIG=dev
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pbmovies
DB_LOG_QUERIES=0
GEONAMES_USERNAME=--GEONAMES_USERNAME--
GOOGLE_API_KEY=---API-KEY-FOR-MAPS---
BING_API_KEY=---API-KEY-FOR-BING-MAPS--
MAP_QUEST_API_KEY=---API-KEY-FOR-MAP-QUEST--
BITLY_API_KEY=--BITLY-API-KEY-
BITLY_API_SECRET=--BITLY-API-SECRET-
BITLY_TOKEN=--BITLY-TOKEN-