/application/system.log
/application/models/services/showtimeproviders/showtimes_imdb.htm
/application/models/services/showtimeproviders/showtimes_imdb_files
/cache/
*.tpl.php
/test
/.environment.prod
/application/models/services/showtimeproviders/*.htm
/application/models/services/showtimeproviders/*_files
/*.html
/*_files
/testdata
/vendor
/.environment
http-debug
